{% extends 'base.html' %}
{% block title %}Task Detailed Information{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h1>Edit Task</h1>
        <form method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                <tr>
                    <th>Task ID</th>
                    <td>{{ task.task_id }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ task.created_at |date:"Y-m-d H:i"}}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{ task.updated_at |date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Closed At</th>
                    <td>{{ task.closed_at|date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Task Duration</th>
                    <td>{{ task.task_duration}}</td>
                </tr>
                <tr>
                    <th>Task Type</th>
                    <td>
                        <select name="type">
                            <option value="p" {% if task.type == 'p' %}selected{% endif %}>Production</option>
                            <option value="n" {% if task.type == 'n' %}selected{% endif %}>Non-production</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Task Status</th>
                    <td>
                        <select name="status">
                            <option value="w" {% if task.status == 'w' %}selected{% endif %}>Waiting</option>
                            <option value="s" {% if task.status == 's' %}selected{% endif %}>Started</option>
                            <option value="p" {% if task.status == 'p' %}selected{% endif %}>Paused</option>
                            <option value="c" {% if task.status == 'c' %}selected{% endif %}>Completed</option>
                        </select>
                    </td>
                </tr>
                <tr>

            </table>
            <button class="btn btn-dark type="submit">Save Changes</button>
        </form>
        <p></p><br>
        <a href="{% url 'index' %}">Back to Task List</a>
        <p></p>
        


        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="add_comment" class="form-label">Comment</label>
                <textarea class="form-control" id="add_comment" rows="2">{{ task.task_comment }}</textarea><br>
                <input type="submit" value="Add comment" class="btn btn-dark" id="add_comment_btn">
            </div>
        </form>

        {% if comments %}
        <h2>Comments</h2>
        <table class="table table-bordered">
            <tr>
                <th>Date</th>    
                <th>Comment:</th>        
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ comment.comment }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>This task has no comments yet!</h4>
    {% endif %}
    </div>    

{% endblock %}
</body>
</html>